@import "tailwindcss";

@layer components {
  .input-button {
    @apply border p-2 rounded-xl bg-zinc-950 border-zinc-800 outline-none focus:ring ring-emerald-600 transition duration-300 ease-in;
  }

  .primary-button {
    @apply font-semibold hover:font-bold bg-emerald-500 text-zinc-900 py-1 rounded hover:bg-emerald-600 hover:text-zinc-950 transition duration-300 ease-in hover:scale-[1.03];
  }

  .toggle-button {
    @apply h-8 w-8 bg-zinc-400 rounded-lg border border-zinc-200 cursor-pointer;
  }

  .streak-circle {
    @apply relative p-3 border-y-4  border-emerald-500 rounded-full flex justify-center items-center;
  }

  .stat-card {
    @apply border border-zinc-800  rounded-lg bg-zinc-900 flex  items-center gap-4 p-2;
  }

  .sidebar-link {
    @apply flex gap-2 items-center px-2 py-1;
  }

  .destructive-button{
    @apply text-sm rounded cursor-pointer hover:scale-[1.02] transition duration-300 ease-in bg-red-500 py-1 px-2
  }

}

input[type="date"] {
  color-scheme: dark;
  cursor: pointer;
}

[class*="recharts-"]:focus {
  outline: none;
}

html {
  scroll-behavior:smooth;
}
